In [8]:
import pandas as pd
import pandas.io.sql as sqlio
import psycopg2
import matplotlib.pyplot as plt
import seaborn as sns
sns.set(font_scale=1.5, style="whitegrid")
from matplotlib.ticker import (MultipleLocator, FormatStrFormatter,AutoMinorLocator)
from matplotlib.dates import DateFormatter
import matplotlib.dates as mdates
import numpy as np

In [13]:
conn = psycopg2.connect(host="alcor.inf.unibz.it", database="admt_g01", user="admt_g01", password="3BckDwAj", port = 5433)

In [10]:
sql = "SELECT * FROM public.payment "

df = sqlio.read_sql_query(sql, conn)
df.head()

   customer_key  branch_key  installment_key  payment_date_key  paid_amount
0          1603          35                1                89  3809.842482
1          1603          35                2               180  3809.842482
2          1603          35                3               272  3809.842482
3          1603          35                4               364  3809.842482
4          1603          35                5               454  3809.842482

In [ ]:
sql = "SELECT * FROM perc_npl_headcount;"
sql2 = "SELECT * FROM perc_npl;"
df = sqlio.read_sql_query(sql, conn)
df2 =  sqlio.read_sql_query(sql2, conn)

plt.bar( df.prov, df.perc_npl_headcount,alpha=0.5,  label='NPL % headcount', align='center')  #edge 
plt.bar( df2.prov, df2.perc_npl,alpha=0.7,  label='NPL % volume') 

plt.legend()
plt.show()

In [14]:
sql = """SELECT iq_2017.month, ROUND(iq_2017.fees::numeric,2),  ROUND(iq_2018.fees::numeric,2) 

FROM  

(SELECT d.month, AVG(s.fees) AS fees 

FROM public."date" d, sale s 

WHERE d.date_key = s.sale_date_key AND d.year = 2017 

group by d.month) as iq_2017, 

(SELECT d.month, AVG(s.fees) AS fees 

FROM public."date" d, sale s 

WHERE d.date_key = s.sale_date_key AND d.year = 2018 

GROUP BY d.month) as iq_2018 

WHERE iq_2017.month = iq_2018.month 

ORDER BY iq_2018.month""" 

df = sqlio.read_sql_query(sql, conn)
df.head()

Empty DataFrame
Columns: [month, round, round]
Index: []